
/* Global Animations */
.fadeOut {
    animation-name: fadeoutanimation;
    animation-timing-function: ease;
    animation: fadeoutanimation 2s;
    -webkit-animation: fadeoutanimation 2s;
    -moz-animation: fadeoutanimation 2s;
    -o-animation: fadeoutanimation 2s;
    -ms-animation: fadeoutanimation 2s;
}

@keyframes fadeinanimation {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  .undefined {
    opacity: 0;
    position: relative;
    animation: fadeinanimation 2s forwards;
  }

  @keyframes fadeinanimation {
    from {opacity: 0; top: 100px;}
    to {opacity: 1; top: 0;}
  }